<navbar></navbar>

<div class="md-main-content" layout="row">

  <span flex="10"></span>

  <trend-box></trend-box>

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <md-card ng-show="user.signedIn" layout="column">
      <div layout="row">
        <img ng-src="{{user.image}}" class="md-liner-avatar" alt="{{user.id}}" />

        <div flex="85" class="md-add-line column">
          <md-input-container md-no-float class="md-block">
            <input ng-model="post.content" type="text" placeholder="Share a line!"
                   ng-keypress="($event.charCode==13)?addLine(post):return">
          </md-input-container>
        </div>
      </div>
    </md-card>

    <post-box></post-box>

  </div>

  <suggestion-box></suggestion-box>
  <sign-in-box></sign-in-box>

</div>

<span flex="15"></span>


<md-button class="md-fab md-fab-bottom-right" aria-label="Add line" ng-click="showAddLine($event)">
  <md-icon md-svg-icon="assets/svg/md-plus.svg"></md-icon>
</md-button>