<share-toolbar></share-toolbar>

<div class="md-main-content" layout="row">

  <span flex="10"></span>

  <span ng-hide="user.signedIn" flex="20"></span>

  <div  ng-show="user.signedIn" class="md-user" flex="20" flex-xs="100" layout="column">
    <md-card>
      <img ng-src="assets/cover1.png" class="md-card-image" alt="Cover">
      
      <md-card-title>
        <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}" />
        <md-card-title-text>
          <span class="md-title md-user-title">{{user.name}}</span>
          <span class="md-subhead md-user-title">{{user.bio}}</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>
      
      <div class="md-user-info" layout="row" layout-align="center">
        <div class="md-user-info-item">
          <span class="md-subhead">POSTS</span>
          <h3 class="md-subhead">{{user.post_count}}</h3>
        </div>

        <div class="md-user-info-item">
          <span class="md-subhead">FOLLOWING</span>
          <h3 class="md-subhead">{{user.following_count}}</h3> 
        </div>

        <div class="md-user-info-item">
          <span class="md-subhead">FOLLOWERS</span>
          <h3 class="md-subhead">{{user.follower_count}}</h3>
        </div>
      </div>

    </md-card>
  </div>  

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <md-card ng-show="user.signedIn" layout="column">
      <div layout="row">          
        <img ng-src="{{user.image}}" class="md-poster-avatar" alt="{{user.id}}" />

        <div flex="80" class="column">
          <md-input-container md-no-float class="md-block">
            <input ng-model="post.content" type="text" placeholder="What's happening?">
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <md-icon md-svg-src="assets/svg/md-pin.svg" class="name"></md-icon>
            <input ng-model="post.location" type="text" placeholder="Enter a location">
          </md-input-container>
        </div>

      </div>

      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="addPost(post)">Post</md-button>
      </md-card-actions>

    </md-card>


    <md-card ng-repeat="post in posts | filter:searchPost | orderBy:'-id' track by $index">
      <div layout="column">

        <div class="" layout="row">
          <img ng-src="{{post.poster.image}}" class="md-poster-avatar" alt="{{post.user.id}}" />

          <div class="md-post-header" layout="column">
            <h3>
              <span ng-click="redirectToProfile(post.user_id)" class="md-post-owner">
                {{post.poster.name}}
              </span>
              <div class="md-stars">
                <span ng-repeat="i in getStarNumber(post.rating.score) track by $index">
                  <md-icon class="md-star-icon" md-svg-src="assets/svg/md-star-full-red.svg"></md-icon>
                </span>
                <span ng-repeat="i in getStarNumber(5 - post.rating.score) track by $index">
                  <md-icon class="md-star-icon" md-svg-src="assets/svg/md-star-black.svg"></md-icon>
                </span>
              </div>
              <span>
                <em am-time-ago="post.created_at" class="time-ago"></em>
              </span>
            </h3>
            <p>{{post.content}}</p>
          </div>
        </div>

        <md-divider></md-divider>

        <div ng-show="post.location" layout="column">
          <span>
            <md-icon class="md-star-icon" md-svg-src="assets/svg/md-pin.svg"></md-icon>
            {{post.location}}            
          </span>
        </div>

      </div>
    </md-card>

  </div>

  <follow-suggestions></follow-suggestions>
  <sign-in-box></sign-in-box>

</div>

<span flex="15"></span>

