<md-toolbar>

  <div class="md-toolbar-tools">
    <h2>
      <span>ShareEm</span>
    </h2>
    <span flex></span>

    <md-button ng-hide="user.signedIn" ng-click="showSignIn($event)" class="md-raised" aria-label="Sign in">
      Sign In
    </md-button>

    <md-button ng-hide="user.signedIn" ng-click="showSignUp($event)" class="md-raised" aria-label="Sign up">
      Sign Up
    </md-button>

<!--     <md-menu md-position-mode="target-right target" >
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="assets/svg/md-more.svg"></md-icon>
      </md-button>

      <md-menu-content width="4" >
        <md-menu-item ng-hide="user.signedIn">
          <md-button ng-click="showSignIn($event)">
              <div layout="row">
                <p flex>Sign In</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-hide="user.signedIn">
          <md-button ng-click="showSignUp($event)">
              <div layout="row">
                <p flex>Sign Up</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-show="user.signedIn">
          <md-button>
              <div layout="row">
                <p flex>{{user.name}}</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-show="user.signedIn">
          <md-button ng-click="signOut($event)">
              <div layout="row">
                <p flex>Sign Out</p>
              </div>
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu> -->

  </div>

</md-toolbar>

<div class="md-main-content" layout="row">

  <span ng-hide="user.signedIn" flex="20"></span>
  <div  ng-show="user.signedIn" class="md-user" flex="20" flex-xs="100" layout="column">
    <md-card>
      <img ng-src="assets/cover1.png" class="md-card-image" alt="Cover">
      
      <md-card-title>
        <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}" />
        <md-card-title-text>
          <span class="md-headline md-user-title">{{user.name}}</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>
      
      <div class="md-user-info" layout="row" layout-align="center">
        <div class="md-user-info-item">
          <md-icon md-svg-icon="assets/svg/md-post.svg"></md-icon>
          <h3>{{user.post_count}}</h3>
        </div>

        <div class="md-user-info-item">
          <md-icon md-svg-icon="assets/svg/md-arrow-up.svg"></md-icon>
          <h3>{{user.follower_count}}</h3> 
        </div>

        <div class="md-user-info-item">
          <md-icon md-svg-icon="assets/svg/md-arrow-down.svg"></md-icon>
          <h3>{{user.following_count}}</h3>
        </div>
      </div>

    </md-card>
  </div>  

  <div class="md-posts" flex="60" flex-xs="100" layout="column">

    <md-card ng-repeat="post in posts">
      <div layout="column">

        <div class="" layout="row">
          <img ng-src="{{post.user.image}}" class="md-poster-avatar" alt="{{post.user.id}}" />

          <div class="md-post-header" layout="column">
            <h3>
              {{post.user.name}}
              <span>
                <em am-time-ago="post.created_at" class="time-ago"></em>
              </span>
            </h3>
            <p>{{post.content}}</p>
          </div>
          
        </div>

        <md-divider></md-divider>

        <div class="">
          <md-button class="md-icon-button" aria-label="Comment">
            <md-icon md-svg-icon="assets/svg/md-comment.svg"></md-icon>
          </md-button>
        </div>
        
      </div>
    </md-card>

  </div>

  <span ng-hide="user.signedIn" flex="20"></span>
  <div  ng-show="user.signedIn" flex="20" flex-xs="100" layout="column">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Who to follow?</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

    </md-card>

  </div>

</div>

<!-- 
<md-button class="md-fab md-fab-bottom-right" aria-label="Add Post" ng-click="writePost($event)">
  <md-icon md-svg-icon="assets/svg/md-pen.svg"></md-icon>
</md-button> -->