<md-card class="md-post" ng-repeat="post in posts | filter:searchPost | orderBy:'-id' track by $index"
                         ng-class="{ 'md-whiteframe-9dp': $index == selectedIndex }"
                         ng-click="setPost($index, post.id)">

  <md-card-content class="md-post-card">
    <div layout="row">
      <img ng-src="{{post.poster.image}}" class="md-poster-avatar" alt="{{post.user.id}}" />

      <div class="md-post-header" layout="column">
        <h3>
          <span ng-click="redirectToProfile(post.user_id)" class="md-post-owner">
            {{post.poster.name}}
          </span>
          <span>
            <em am-time-ago="post.created_at" class="time-ago"></em>
          </span>
        </h3>
        <p>
          {{post.content}}
        </p>
      </div>
    </div>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-actions class="md-post-actions" layout="row" layout-align="start center">
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-src="assets/svg/md-reply.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-src="assets/svg/md-heart.svg"></md-icon>
    </md-button>
  </md-card-actions>

  <md-card-content class="md-liner" ng-show="$index == selectedIndex" layout="column">
    <div layout="row" ng-repeat="comment in comments | orderBy:'-id' track by $index">
      <img ng-src="{{user.image}}" class="md-liner-avatar" alt="{{post.user.id}}" />

      <div class="md-post-header" layout="column">
        <h3>
          <span ng-click="redirectToProfile(post.user_id)" class="md-post-owner">
            {{post.poster.name}}
          </span>
          <span>
            <em am-time-ago="post.created_at" class="time-ago"></em>
          </span>
        </h3>
        <p>
          {{comment.content}}
        </p>
      </div>
    </div>

    <div layout="row">        
      <img ng-src="{{user.image}}" class="md-liner-avatar" alt="{{user.id}}" />

      <div flex="85" class="md-add-line column">
        <md-input-container md-no-float class="md-block">
          <input ng-model="comment.content" type="text" placeholder="Reply to {{post.poster.name}}!"
                 ng-keypress="($event.charCode==13)?addComment(post.id, comment):return">
        </md-input-container>
      </div>
    </div>

  </md-card-content>

</md-card>