<md-card ng-repeat="post in posts | filter:searchPost | orderBy:'-id' track by $index">

  <md-card-content class="md-post" ng-click="activatePost($index)">
    <div layout="row">
      <img ng-src="{{post.poster.image}}" class="md-poster-avatar" alt="{{post.user.id}}" />

      <div class="md-post-header" layout="column">
        <h3>
          <span ng-click="redirectToProfile(post.user_id)" class="md-post-owner">
            {{post.poster.name}}
          </span>
          <span>
            <em am-time-ago="post.created_at" class="time-ago"></em>
          </span>
        </h3>
        <p>
          {{post.content}}
        </p>
      </div>
    </div>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-actions class="md-post-actions" layout="row" layout-align="start center">
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-src="assets/svg/md-reply.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-src="assets/svg/md-heart.svg"></md-icon>
    </md-button>
  </md-card-actions>

</md-card>