<md-dialog aria-label="new Location" class="md-dialog-user">
  <h3>Add Location</h3>
  <md-divider></md-divider>

  <md-content layout-padding>
      <form name="userForm">

        <md-input-container class="md-block">
          <label>Name</label>
          <input type="text" aria-label="content" ng-model="location.name" required>
        </md-input-container>
        
      </form>
  </md-content>
  
  <md-dialog-actions layout="row">
    <md-button class="md-primary md-dialog-action-buttons" ng-click="closeDialog($event)">
      Cancel
    </md-button>
    <md-button class="md-primary md-dialog-action-buttons" ng-click="addLocation(location)">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>