<navbar></navbar>

<div class="md-main-content" layout="row">

  <span flex="10"></span>

  <trend-box></trend-box>

  <md-card class="md-notifications" flex="40" flex-xs="100" layout="column">
    
    <md-list>
      <md-subheader class="md-no-sticky">Notifications</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="notification in notifications | orderBy:'-id' track by $index">
        <img ng-src="{{notification.recipient.image}}" class="md-avatar" alt="{{notification.owner.id}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{notification.recipient.name}}</h3>
          <h4>{{notification.content}}</h4>
        </div>
        <md-divider ></md-divider>
      </md-list-item>
    </md-list>

  </md-card>

  <suggestion-box></suggestion-box>
  <sign-in-box></sign-in-box>

</div>

<span flex="15"></span>
