<md-dialog aria-label="signup User" class="md-dialog-user">
  <h3>Edit Profile</h3>
  <div ng-show="authResponse" class="error-hint">
    <ul ng-repeat="error in authResponse.full_messages">
      <li>{{error}}</li>
    </ul>
  </div>
  
  <md-divider></md-divider>

  <md-content layout-padding>
      <form name="editForm">

        <md-input-container class="md-block">
          <label>User Name</label>
          <input md-maxlength="30" name="name" ng-model="currentUser.name">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Biography</label>
          <textarea name="biography" ng-model="currentUser.bio" md-maxlength="50"></textarea>
          <div class="hint">A short text about yourself.</div>
        </md-input-container>

      </form>
  </md-content>

  <md-dialog-actions layout="row">
    <md-button class="md-primary md-dialog-action-buttons" ng-click="closeDialog()">
      Cancel
    </md-button>
    <md-button class="md-primary md-dialog-action-buttons" ng-click="editProfile(currentUser)">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>