<md-toolbar>

  <div class="md-toolbar-tools">
    <h2>
      <span>ShareEm</span>
    </h2>
    <span flex></span>

    <div ng-show="user.signedIn" flex="20" class="md-searchbox">
      <div class="md-whiteframe-z1 md-searchbox-wrap">
        <input type="text" placeholder="Search a post..." ng-model="searchPost">
      </div>
      <md-icon class="md-search-icon" md-svg-src="assets/svg/md-search.svg"></md-icon>        
    </div>

    <md-button ng-hide="user.signedIn" ng-click="showSignIn($event)" class="md-raised" aria-label="Sign in">
      Sign In
    </md-button>

    <md-button ng-hide="user.signedIn" ng-click="showSignUp($event)" class="md-raised" aria-label="Sign up">
      Sign Up
    </md-button>

    <md-button ng-show="user.signedIn" ng-click="showPost($event)" class="md-raised" aria-label="Post">
      Post
    </md-button>

    <md-menu ng-show="user.signedIn" md-position-mode="target-right target">
      <div class="md-toolbar-tools md-toolbar-user" layout="row" ng-click="$mdOpenMenu($event)">
        <img ng-src="{{user.image}}" class="md-toolbar-avatar" alt="{{user.id}}" />
      </div>

      <md-menu-content width="4" >
        <md-menu-item>
          <md-button ng-click="redirectToProfile(user)">
              <div layout="row">
                <p flex>{{user.name}}</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-divider></md-divider>

        <md-menu-item>
          <md-button ng-click="redirectToSetting($event)">
              <div layout="row">
                <p flex>Settings</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="signOut($event)">
              <div layout="row">
                <p flex>Sign Out</p>
              </div>
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

  </div>

</md-toolbar>

<div class="md-main-content" layout="row">

  <span flex="15"></span>

  <span ng-hide="user.signedIn" flex="15"></span>
  <div  ng-show="user.signedIn" class="md-user" flex="15" flex-xs="100" layout="column">
    <md-card>
      <img ng-src="assets/cover1.png" class="md-card-image" alt="Cover">

      <md-card-title>
        <img ng-src="{{currentUser.image}}" class="md-avatar" alt="{{currentUser.name}}" />
        <md-card-title-text>
          <span class="md-title md-user-title">{{currentUser.name}}</span>
          <span class="md-subhead md-user-title">{{currentUser.bio}}</span>
        </md-card-title-text>
      </md-card-title>
      
      <md-divider></md-divider>

      <div class="md-subhead md-user-joined">
        <p><em>
          <span>joined {{currentUser.created_at | date:'d MMMM yyyy' : 'UTC'}}</span>            
        </em></p>
      </div>

    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">User ratings/comments</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

  </div>  

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <div class="md-user-info" layout="row" layout-align="center">
      <div class="md-user-info-item">
        <span class="md-subhead">POSTS</span>
        <h3 class="md-subhead">{{currentUser.post_count}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWING</span>
        <h3 class="md-subhead">{{currentUser.following_count}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWERS</span>
        <h3 class="md-subhead">{{currentUser.follower_count}}</h3>
      </div>
    </div>


    <md-card ng-repeat="post in posts | filter:{user_id: currentUser.id} | filter:searchPost | orderBy:'-id' track by $index">
      <div layout="column">

        <div class="" layout="row">
          <img ng-src="{{post.user.image}}" class="md-poster-avatar" alt="{{post.user.id}}" />

          <div class="md-post-header" layout="column">
            <h3>
              <span class="md-post-owner">
                {{post.user.name}}
              </span>
              <span>
                <em am-time-ago="post.created_at" class="time-ago"></em>
              </span>
            </h3>
            <p>{{post.content}}</p>
          </div>
          
        </div>

        <md-divider></md-divider>

        <md-card-actions layout="row">

          <md-card-icon-actions>
            <md-button class="md-icon-button md-comment-icon" aria-label="Comment">
              <md-icon md-svg-icon="assets/svg/md-comment.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>

          <md-menu md-position-mode="target-right target" >
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="assets/svg/md-more.svg"></md-icon>
            </md-button>

            <md-menu-content width="4">
              <md-menu-item>
                <md-button>
                    <div layout="row">
                      <p flex>Block</p>
                    </div>
                </md-button>
              </md-menu-item>

              <md-menu-item ng-show="user.id == post.user_id">
                <md-button ng-click="deletePost(post)">
                    <div layout="row">
                      <p flex>Delete Post</p>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

        </md-card-actions>
        
      </div>
    </md-card>

  </div>

  <span ng-hide="user.signedIn" flex="15"></span>
  <div  ng-show="user.signedIn" flex="15" flex-xs="100" layout="column">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Who to follow?</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

    </md-card>
  </div>

  <span flex="15"></span>

</div>