<md-toolbar>

  <div class="md-toolbar-tools">

    <span flex="15"></span>

    <md-button  md-no-ink class="md-primary" aria-label="Home"
                ng-show="user.signedIn"
                ng-click="redirectToHome($event)">
      Home
    </md-button>

    <md-button  md-no-ink class="md-primary" aria-label="Notifications"
                ng-show="user.signedIn"
                ng-click="redirectToNotifications($event)">
      Notifications
    </md-button>

    <md-button  md-no-ink class="md-primary" aria-label="Messages"
                ng-show="user.signedIn"
                ng-click="redirectToMessages($event)">
      Messages
    </md-button>

    <span ng-show="user.signedIn" flex="20"></span>

    <div ng-hide="user.signedIn" flex="40" class="md-searchbox">
      <div class="md-whiteframe-z1 md-searchbox-wrap">
        <input type="text" placeholder="Search a post..." ng-model="searchPost">
      </div>
      <md-icon class="md-search-icon" md-svg-src="assets/svg/md-search.svg"></md-icon>        
    </div>

    <span ng-hide="user.signedIn" flex></span>

    <div ng-show="user.signedIn" flex="20" class="md-searchbox">
      <div class="md-whiteframe-z1 md-searchbox-wrap">
        <input type="text" placeholder="Search a post..." ng-model="searchPost">
      </div>
      <md-icon class="md-search-icon" md-svg-src="assets/svg/md-search.svg"></md-icon>        
    </div>

    <md-button ng-show="user.signedIn" ng-click="showPost($event)" class="md-raised" aria-label="Post">
      Post
    </md-button>

    <md-button ng-hide="user.signedIn" ng-click="showSignUp($event)" class="md-raised" aria-label="Sign up">
      Sign Up
    </md-button>

    <div>
    <md-menu ng-show="user.signedIn" md-position-mode="target-right target">
      <div class="md-toolbar-tools md-toolbar-user" layout="row" ng-click="$mdOpenMenu($event)">
        <img ng-src="{{user.image}}" class="md-toolbar-avatar" alt="{{user.id}}" />
      </div>

      <md-menu-content width="4" >
        <md-menu-item>
          <md-button ng-click="redirectToProfile(user)">
              <div layout="row">
                <p flex>{{user.name}}</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-divider></md-divider>

        <md-menu-item>
          <md-button ng-click="redirectToSetting($event)">
              <div layout="row">
                <p flex>Settings</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="signOut($event)">
              <div layout="row">
                <p flex>Sign Out</p>
              </div>
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
    </div>

  </div>

</md-toolbar>



<div class="md-main-content" layout="row">

  <span flex="15"></span>

  <span ng-hide="user.signedIn" flex="15"></span>
  <div  ng-show="user.signedIn" class="md-user" flex="15" flex-xs="100" layout="column">
    <md-card>
      <img ng-src="assets/cover1.png" class="md-card-image" alt="Cover">

      <md-card-title>
        <img ng-src="{{currentProfile.image}}" class="md-avatar" alt="{{currentProfile.name}}" />
        <md-card-title-text>
          <span class="md-title md-user-title">{{currentProfile.name}}</span>
          <span class="md-subhead md-user-title">{{currentProfile.bio}}</span>
        </md-card-title-text>
      </md-card-title>
      
      <md-divider></md-divider>

      <div class="md-subhead md-user-joined">
        <p><em>
          <span>joined {{currentProfile.created_at | date:'d MMMM yyyy' : 'UTC'}}</span>            
        </em></p>
      </div>

      <md-button ng-show="currentProfile.id != user.id && isFollowed == '0'" class="md-raised" aria-label="Follow"
                 ng-click="followUser(currentProfile.id)">
        Follow
      </md-button>

      <md-button ng-show="currentProfile.id != user.id && isFollowed == '1'" class="md-raised" aria-label="Follow"
                 ng-click="unfollowUser(currentProfile.id)">
        Unfollow
      </md-button>

      <md-button ng-hide="currentProfile.id == user.id" class="md-raised" aria-label="Diirect Message"
                 ng-click="showSendMessage($event)">
        Direct Message
      </md-button>

    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">User Rating</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-content>
        <div layout>
          <md-slider flex md-discrete ng-disabled="currentProfile.id == user.id" ng-model="score" step="1" min="1" max="5" aria-label="rating">
          </md-slider>
        </div>

        <div class="md-user-info-item">
          <h3 class="md-subhead">Average rating</h3>
          <p class="md-subhead">{{average_rating}}</p>
        </div>

      </md-card-content>

      <md-button ng-hide="currentProfile.id == user.id || isRated == '1'" class="md-raised" aria-label="Rate"
                 ng-click="setRating(score)">
        Rate
      </md-button>

      <md-button ng-hide="currentProfile.id == user.id || isRated != '1'" class="md-raised" aria-label="Rate"
                 ng-click="updateRating(score)">
        Update Rating
      </md-button>


    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">User Comments</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

    </md-card>

  </div>  

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <div class="md-user-info" layout="row" layout-align="center">
      <div class="md-user-info-item">
        <span class="md-subhead">POSTS</span>
        <h3 class="md-subhead">{{posts.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWING</span>
        <h3 class="md-subhead">{{currentProfile.following.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWERS</span>
        <h3 class="md-subhead">{{currentProfile.followers.length}}</h3>
      </div>
    </div>


    <md-card ng-repeat="post in posts | filter:searchPost | orderBy:'-id' track by $index">
      <div layout="column">

        <div class="" layout="row">
          <img ng-src="{{post.poster.image}}" class="md-poster-avatar" alt="{{post.user_id}}" />

          <div class="md-post-header" layout="column">
            <h3>
              <span class="md-post-owner">
                {{post.poster.name}}
              </span>
              <span>
                <em am-time-ago="post.created_at" class="time-ago"></em>
              </span>
            </h3>
            <p>{{post.content}}</p>
          </div>
          
        </div>
        
      </div>
    </md-card>

  </div>

  <div  ng-show="user.signedIn" flex="15" flex-xs="100" layout="column">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Who to follow?</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

    </md-card>
  </div>

  <div ng-hide="user.signedIn" flex="20" flex-xs="100" layout="column">
    
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Sign In</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-content>

        <md-input-container class="md-block">
          <label>Email</label>
          <input required name"email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input required name="password" ng-model="user.password" minlength="8">
        </md-input-container>

        <md-checkbox ng-model="user.rememberme" aria-label="Remember Me">
          Remember Me
        </md-checkbox>
        
        <p class="hint">
          <em><a href="https://google.com">Forgot Password</a></em>  
        </p>

        <p class="hint">
          <em><a href="https://google.com">Forgot Username</a></em>  
        </p>

      </md-card-content>

      <md-card-actions layout="row" layout-align="end center">
        <md-button>Sign in</md-button>
      </md-card-actions>

    </md-card>



  </div>

</div>