<md-dialog aria-label="signup User" class="md-dialog-user">
  <h3>Sign Up</h3>

  <div ng-show="authResponse" class="error-hint">
    <ul ng-repeat="error in authResponse.full_messages">
      <li>{{error}}</li>
    </ul>
  </div>

  <md-divider></md-divider>

  <md-content layout-padding>
      <form name="userForm">

        <md-input-container class="md-block">
          <label>User Name</label>
          <input md-maxlength="30" required name="name" ng-model="user.name">
          <div ng-messages="userForm.name.$error">
            <div ng-message="required">User name is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email</label>
          <input required name"email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
          <div ng-messages="userForm.email.$error">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input required name="password" ng-model="user.password" minlength="8">
          <div class="hint">Must have 8 characters minimum.</div>
          <div ng-messages="userForm.password.$error">
            <div ng-message-exp="['required', 'minlength']">
              Your password must be at least 8 characters long.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password Confirmation</label>
          <input required name="password_confirmation" ng-model="user.password_confirmation" minlength="8">
          <div class="hint">Passwords must match.</div>
          <div ng-messages="userForm.password_confirmation.$error">
            <div ng-message-exp="['required', 'minlength']">
              Your password must be at least 8 characters long.
            </div>
          </div>
        </md-input-container>

        <p class="hint">
          <em>By creating an account, you agree to our
            <a href="https://google.com">Terms of service</a> & 
            <a href="https://google.com">privacy policy</a>.
          </em>
        </p>

      </form>
  </md-content>

  <md-dialog-actions layout="row">
    <md-button class="md-primary md-dialog-action-buttons" ng-click="closeDialog()">
      Cancel
    </md-button>
    <md-button class="md-primary md-dialog-action-buttons" ng-click="signUp(user)">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>