<share-toolbar></share-toolbar>

<div class="md-main-content" layout="row">

  <span flex="10"></span>

  <span ng-hide="user.signedIn" flex="20"></span>
  <div  ng-show="user.signedIn" class="md-user" flex="20" flex-xs="100" layout="column">
    <md-card>
      <img ng-src="assets/cover1.png" class="md-card-image" alt="Cover">

      <md-card-title>
        <img ng-src="{{currentProfile.image}}" class="md-avatar" alt="{{currentProfile.name}}" />
        <md-card-title-text>
          <span class="md-title md-user-title">{{currentProfile.name}}</span>
          <span class="md-subhead md-user-title">{{currentProfile.bio}}</span>
        </md-card-title-text>
      </md-card-title>
      
      <md-divider></md-divider>

      <div class="md-subhead md-user-joined">
        <p><em>
          <span>joined {{currentProfile.created_at | date:'d MMMM yyyy' : 'UTC'}}</span>            
        </em></p>
      </div>

      <md-button ng-show="currentProfile.id != user.id && isFollowed == '0'" class="md-raised" aria-label="Follow"
                 ng-click="followUser(currentProfile.id)">
        Follow
      </md-button>

      <md-button ng-show="currentProfile.id != user.id && isFollowed == '1'" class="md-raised" aria-label="Follow"
                 ng-click="unfollowUser(currentProfile.id)">
        Unfollow
      </md-button>

      <md-button ng-hide="currentProfile.id == user.id" class="md-raised" aria-label="Diirect Message"
                 ng-click="showSendMessage($event)">
        Direct Message
      </md-button>

    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">User Rating and Comments</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-content>

        <div class="md-rating-info" layout="row" layout-align="center">
          <div class="md-user-info-item">
            <h3 class="md-subhead">Average rating</h3>
            <p class="md-subhead">{{average_rating}}</p>
          </div>

          <div class="md-user-info-item">
            <h3 class="md-subhead">Reviews</h3>
            <p class="md-subhead">{{count}}</p>
          </div>
        </div>

        <md-divider ></md-divider>

        <md-list>
          <md-list-item class="md-3-line" ng-repeat="rating in ratings">
            <img ng-src="{{rating.rater.image}}" class="md-avatar" alt="{{rating.rater.id}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ rating.rater.name }}</h3>
              <h4>{{ rating.comment }}</h4>
              <p>{{ item.notes }}</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
        </md-list>


        <div class="md-profile-stars" layout layout-align="center">
          <span ng-repeat="i in getStarNumber(rating.score) track by $index">
            <md-icon class="md-star-icon" md-svg-src="assets/svg/md-star-full-red.svg" ng-click="setStar($index)"></md-icon>
          </span>
          <span ng-repeat="i in getStarNumber(5 - rating.score) track by $index">
            <md-icon class="md-star-icon" md-svg-src="assets/svg/md-star-black.svg" ng-click="setStar($index + rating.score)"></md-icon>
          </span>
        </div>

        <md-input-container md-no-float class="md-block">
          <input ng-model="rating.comment" ng-class="" type="text" placeholder="Leave a comment...">
        </md-input-container>

      </md-card-content>


      <md-button ng-hide="currentProfile.id == user.id || isRated == '1'" class="md-raised" aria-label="Rate"
                 ng-click="setRating(rating)">
        Rate
      </md-button>

      <md-button ng-hide="currentProfile.id == user.id || isRated != '1'" class="md-raised" aria-label="Rate"
                 ng-click="updateRating(rating)">
        Update Rating
      </md-button>


    </md-card>

  </div>  

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <div class="md-user-info" layout="row" layout-align="center">
      <div class="md-user-info-item">
        <span class="md-subhead">POSTS</span>
        <h3 class="md-subhead">{{posts.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWING</span>
        <h3 class="md-subhead">{{currentProfile.following.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWERS</span>
        <h3 class="md-subhead">{{currentProfile.followers.length}}</h3>
      </div>
    </div>


    <md-card ng-repeat="post in posts | filter:searchPost | orderBy:'-id' track by $index">
      <div layout="column">

        <div class="" layout="row">
          <img ng-src="{{post.poster.image}}" class="md-poster-avatar" alt="{{post.user_id}}" />

          <div class="md-post-header" layout="column">
            <h3>
              <span class="md-post-owner">
                {{post.poster.name}}
              </span>
              <span>
                <em am-time-ago="post.created_at" class="time-ago"></em>
              </span>
            </h3>
            <p>{{post.content}}</p>
          </div>
          
        </div>
        
      </div>
    </md-card>

  </div>

  <follow-suggestions></follow-suggestions>
  <sign-in-box></sign-in-box>

</div>
