<share-toolbar></share-toolbar>

<div class="md-main-content" layout="row">

  <span flex="10"></span>

  <span ng-hide="user.signedIn" flex="20"></span>
  <div  ng-show="user.signedIn" class="md-user" flex="20" flex-xs="100" layout="column">
    <user-profile></user-profile>
    <user-rating></user-rating>
  </div>  

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <div class="md-user-info" layout="row" layout-align="center">
      <div class="md-user-info-item">
        <span class="md-subhead">POSTS</span>
        <h3 class="md-subhead">{{posts.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWING</span>
        <h3 class="md-subhead">{{currentProfile.following.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWERS</span>
        <h3 class="md-subhead">{{currentProfile.followers.length}}</h3>
      </div>
    </div>


    <md-card ng-repeat="post in posts | filter:searchPost | orderBy:'-id' track by $index">
      <div layout="column">

        <div class="" layout="row">
          <img ng-src="{{post.poster.image}}" class="md-poster-avatar" alt="{{post.user_id}}" />

          <div class="md-post-header" layout="column">
            <h3>
              <span class="md-post-owner">
                {{post.poster.name}}
              </span>
              <span>
                <em am-time-ago="post.created_at" class="time-ago"></em>
              </span>
            </h3>
            <p>{{post.content}}</p>
          </div>
          
        </div>
        
      </div>
    </md-card>

  </div>

  <follow-suggestions></follow-suggestions>
  <sign-in-box></sign-in-box>

</div>
