<md-toolbar class="md-tall">

  <div layout="row">
    <span flex="10"></span>

    <div class="md-toolbar-user" flex="20" layout="column">
      <div flex class="md-toolbar-user-avatar">
        <img ng-src="{{user.image}}" class="md-toolbar-avatar" alt="{{user.id}}" />
        <span class="md-subhead">
          {{user.name}}
        </span>
      </div>

      <div flex layout="row">
        <div class="md-user-info-item">
          <span class="md-subhead">LINES</span>
          <h3 class="md-subhead">{{posts.length}}</h3>
        </div>

        <div class="md-user-info-item">
          <span class="md-subhead">FOLLOWING</span>
          <h3 class="md-subhead">{{currentProfile.following.length}}</h3>
        </div>

        <div class="md-user-info-item">
          <span class="md-subhead">FOLLOWERS</span>
          <h3 class="md-subhead">{{currentProfile.followers.length}}</h3>
        </div>
      </div>
    </div>


    <div class="md-toolbar-user" flex="40" layout="column">
      <div flex class="">
        <h3>One-liner</h3>
      </div>

      <div flex layout="row">
        <md-button  md-no-ink class="md-primary md-toolbar-button" aria-label="Home"
                    ng-show="user.signedIn"
                    ng-click="redirectToHome($event)">
          <md-icon class="md-toolbar-icon" md-svg-src="assets/svg/md-home.svg"></md-icon>
          Home
        </md-button>

        <md-button  md-no-ink class="md-primary md-toolbar-button" aria-label="Notifications"
                    ng-show="user.signedIn"
                    ng-click="redirectToNotifications($event)">
          <md-icon class="md-toolbar-icon" md-svg-src="assets/svg/md-notification.svg"></md-icon>
          Notifications
        </md-button>

        <md-button  md-no-ink class="md-primary md-toolbar-button" aria-label="Messages"
                    ng-show="user.signedIn"
                    ng-click="redirectToMessages($event)">
          <md-icon class="md-toolbar-icon" md-svg-src="assets/svg/md-message.svg"></md-icon>
          Messages
        </md-button>
      </div>
    </div>


    <div class="md-toolbar-user" flex="30" layout="column">
      <div flex>
        <md-icon class="md-toolbar-icon md-right" md-svg-src="assets/svg/md-setting.svg"></md-icon>
        <md-icon class="md-toolbar-icon md-right" md-svg-src="assets/svg/md-search.svg"></md-icon>
      </div>
    </div>
  </div>

</md-toolbar>