<md-toolbar class="md-tall">

  <div class="md-toolbar-tools">
    <span flex="20"></span>
    <div class="md-toolbar-tools md-toolbar-user" layout="row">
      <img ng-src="{{user.image}}" class="md-toolbar-avatar" alt="{{user.id}}" />
      <span class="md-subhead">
        {{user.name}}
      </span>
    </div>

    <md-icon md-svg-src="assets/svg/md-abc.svg"></md-icon>

    <span flex="80"></span>

    <div layout="row">
      <md-icon md-svg-src="assets/svg/md-search.svg"></md-icon>
      <md-icon md-svg-src="assets/svg/md-setting.svg"></md-icon>
    </div>
  </div>

  <span flex></span>


  <div class="md-toolbar-tools md-toolbar-tools-bottom">
    <span flex="20"></span>
    <div class="md-toolbar-tools" layout="row">
      <div class="md-user-info-item">
        <span class="md-subhead">POSTS</span>
        <h3 class="md-subhead">{{posts.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWING</span>
        <h3 class="md-subhead">{{currentProfile.following.length}}</h3>
      </div>

      <div class="md-user-info-item">
        <span class="md-subhead">FOLLOWERS</span>
        <h3 class="md-subhead">{{currentProfile.followers.length}}</h3>
      </div>
    </div>

    <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row">
      <md-button  md-no-ink class="md-primary" aria-label="Home"
                  ng-show="user.signedIn"
                  ng-click="redirectToHome($event)">
        Home
      </md-button>

      <md-button  md-no-ink class="md-primary" aria-label="Notifications"
                  ng-show="user.signedIn"
                  ng-click="redirectToNotifications($event)">
        Notifications
      </md-button>

      <md-button  md-no-ink class="md-primary" aria-label="Messages"
                  ng-show="user.signedIn"
                  ng-click="redirectToMessages($event)">
        Messages
      </md-button>
    </div>



  </div>

<!--   <div class="md-toolbar-tools md-toolbar-tools-bottom">
    <span flex="20"></span>

    <div class="md-toolbar-tools">
      <span class="md-subhead">POSTS</span>
      <h3 class="md-subhead">{{posts.length}}</h3>
    </div>


  </div> -->

<!--     <md-button  md-no-ink class="md-primary" aria-label="Home"
                ng-show="user.signedIn"
                ng-click="redirectToHome($event)">
      Home
    </md-button>

    <md-button  md-no-ink class="md-primary" aria-label="Notifications"
                ng-show="user.signedIn"
                ng-click="redirectToNotifications($event)">
      Notifications
    </md-button>

    <md-button  md-no-ink class="md-primary" aria-label="Messages"
                ng-show="user.signedIn"
                ng-click="redirectToMessages($event)">
      Messages
    </md-button>

    <span ng-show="user.signedIn" flex="30"></span>
    <span ng-hide="user.signedIn" flex="20"></span>

    <div ng-hide="user.signedIn" flex="40" class="md-searchbox">
      <div class="md-whiteframe-z1 md-searchbox-wrap">
        <input type="text" placeholder="Search a post..." ng-model="searchPost">
      </div>
      <md-icon class="md-search-icon" md-svg-src="assets/svg/md-search.svg"></md-icon>        
    </div>

    <span ng-hide="user.signedIn" flex></span>

    <div ng-show="user.signedIn" flex="20" class="md-searchbox">
      <div class="md-whiteframe-z1 md-searchbox-wrap">
        <input type="text" placeholder="Search a post..." ng-model="searchPost">
      </div>
      <md-icon class="md-search-icon" md-svg-src="assets/svg/md-search.svg"></md-icon>        
    </div>

    <md-button ng-show="user.signedIn" ng-click="showPost($event)" class="md-raised" aria-label="Post">
      Post
    </md-button>

    <md-button ng-hide="user.signedIn" ng-click="showSignUp($event)" class="md-raised" aria-label="Sign up">
      Sign Up
    </md-button>

    <div>
    <md-menu ng-show="user.signedIn" md-position-mode="target-right target">
      <div class="md-toolbar-tools md-toolbar-user" layout="row" ng-click="$mdOpenMenu($event)">
        <img ng-src="{{user.image}}" class="md-toolbar-avatar" alt="{{user.id}}" />
      </div>

      <md-menu-content width="4" >
        <md-menu-item>
          <md-button ng-click="redirectToProfile(user)">
              <div layout="row">
                <p flex>{{user.name}}</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-divider></md-divider>

        <md-menu-item>
          <md-button ng-click="redirectToSetting($event)">
              <div layout="row">
                <p flex>Settings</p>
              </div>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="signOut($event)">
              <div layout="row">
                <p flex>Sign Out</p>
              </div>
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
    </div>

  </div> -->
</md-toolbar>