<share-toolbar></share-toolbar>

<div class="md-main-content" layout="row">

  <span flex="10"></span>

  <span ng-hide="user.signedIn" flex="20"></span>
  <div  ng-show="user.signedIn" class="md-user" flex="20" flex-xs="100" layout="column">
    <md-card>
      <img src="assets/cover1.png" class="md-card-image" alt="Cover">

      <md-card-title>
        <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}" />
        <md-card-title-text>
          <span class="md-title md-user-title">{{user.name}}</span>
          <span class="md-subhead md-user-title">{{user.bio}}</span>
        </md-card-title-text>
      </md-card-title>
      
      <md-divider></md-divider>

      <div class="md-subhead md-user-joined">
        <p><em>
          <span>joined {{user.created_at | date:'d MMMM yyyy' : 'UTC'}}</span>            
        </em></p>
      </div>

    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">User ratings/comments</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

  </div>  

  <div class="md-posts" flex="40" flex-xs="100" layout="column">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Account</span>
          <span class="md-subhead">Change your basic account settings.</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-content>
        <md-input-container class="md-block">
          <label>User Name</label>
          <input md-maxlength="30" name="name" ng-model="user.name">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email</label>
          <input md-maxlength="30" name="email" ng-model="user.email">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Biography</label>
          <textarea name="biography" ng-model="user.bio" md-maxlength="50"></textarea>
          <div class="hint">A short text about yourself.</div>
        </md-input-container>

      </md-card-content>

      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Image</span>
          <span class="md-subhead">Upload a profile picture.</span>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-content>
        <div class="">
          <img ng-src="{{user.image}}" class="placeholder" alt="Placeholder" />
        </div>
        <md-button class="md-raised" filepicker type="filepicker" aria-label="File Upload"
                                      data-fp-multiple="false"
                                      data-fp-button-text="Upload a profile photo"
                                      data-fp-services="computer"
                                      on-success="onPhotoUpload(event.fpfile)">
        </md-button>
      </md-card-content>


      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Notifications</span>
          <span class="md-subhead">Send notiigcations whenever any action happens.</span>
        </md-card-title-text>
      </md-card-title>
 
      <md-divider></md-divider>

      <md-card-content>
        <md-switch ng-model="user.active1" aria-label="Notification Like">
          Send me an email when someone likes my post
        </md-switch>

        <md-switch ng-model="user.active2" aria-label="Notification Direct Message">
          Send me an email when someone sends me a Direct Message
        </md-switch>

        <md-switch ng-model="user.active3" aria-label="Notification Follow Request">
          Send me an email when request to follow me
        </md-switch>

        <md-switch ng-model="user.active4" aria-label="Notification Follow Accepted">
          Send me an email when my follow request is accepted
        </md-switch>

      </md-card-content>


      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Privacy</span>
          <span class="md-subhead">Change your security and privacy settings.</span>
        </md-card-title-text>
      </md-card-title>
 
      <md-divider></md-divider>

      <md-card-content>

        <div class="">
        <md-input-container>
          <label>Direct Messages</label>
          <md-select ng-model="user.directMessage">
            <md-option value="1">
              Allow only followers to Direct Message me
            </md-option>
            <md-option value="2">
              Allow anyone to Direct Message me
            </md-option>
            <md-option value="3">
              Do not allow anyone to Direct Message me
            </md-option>            
          </md-select>
        </md-input-container>          
        </div>

        <div class="">
        <md-input-container>
          <label>Followers</label>
          <md-select ng-model="user.directMessage">
            <md-option value="1">
              Only allow my followers to see how many following/followers I have
            </md-option>
            <md-option value="2">
              Do not allow my followers to see how many following/followers I have
            </md-option>
          </md-select>
        </md-input-container>          
        </div>

        <div class="">
        <md-input-container>
          <label>Posts</label>
          <md-select ng-model="user.directMessage">
            <md-option value="1">
              Allow anyone to see my post
            </md-option>
            <md-option value="2">
              Allow only followers to see my post
            </md-option>
          </md-select>
        </md-input-container>          
        </div>

      </md-card-content>

      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-warn md-raised">Deactivate Account</md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="editProfile(user)">Save Changes</md-button>
      </md-card-actions>

    </md-card>

  </div>

  <span flex="30"></span>

</div>