<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-title">User Rating and Comments</span>
    </md-card-title-text>
  </md-card-title>

  <md-divider></md-divider>

  <md-card-content>

    <div class="md-rating-info" layout="row" layout-align="center">
      <div class="md-user-info-item">
        <h3 class="md-subhead">Average rating</h3>
        <p class="md-subhead">{{average_rating}}</p>
      </div>

      <div class="md-user-info-item">
        <h3 class="md-subhead">Reviews</h3>
        <p class="md-subhead">{{count}}</p>
      </div>
    </div>

    <md-divider ></md-divider>

    <md-list>
      <md-list-item class="md-3-line" ng-repeat="rating in ratings">
        <img ng-src="{{rating.rater.image}}" class="md-avatar" alt="{{rating.rater.id}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ rating.rater.name }}</h3>
          <h4>{{ rating.comment }}</h4>
          <p>{{ item.notes }}</p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>


    <div class="md-profile-stars" layout layout-align="center">
      <span ng-repeat="i in getStarNumber(rating.score) track by $index">
        <md-icon class="md-star-icon" md-svg-src="assets/svg/md-star-full-red.svg" ng-click="setStar($index)"></md-icon>
      </span>
      <span ng-repeat="i in getStarNumber(5 - rating.score) track by $index">
        <md-icon class="md-star-icon" md-svg-src="assets/svg/md-star-black.svg" ng-click="setStar($index + rating.score)"></md-icon>
      </span>
    </div>

    <md-input-container md-no-float class="md-block">
      <input ng-model="rating.comment" ng-class="" type="text" placeholder="Leave a comment...">
    </md-input-container>

  </md-card-content>


  <md-button ng-hide="currentProfile.id == user.id || isRated == '1'" class="md-raised" aria-label="Rate"
             ng-click="setRating(rating)">
    Rate
  </md-button>

  <md-button ng-hide="currentProfile.id == user.id || isRated != '1'" class="md-raised" aria-label="Rate"
             ng-click="updateRating(rating)">
    Update Rating
  </md-button>


</md-card>