/* -------------------------------- 
Content
-------------------------------- */

$light-blue   : #55aeed;
$dark-grey    : #eeeeee;
$light-grey   : #aab8c2;

.md-main-content {
  padding: 138px 40px 20px 40px;
  background-color: $dark-grey !important;
}

.md-avatar {
  width: 64px;
  height: 64px;
  margin-top: -56px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
}

.md-poster-avatar {
  margin-right: 15px;
  margin-bottom: 15px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  box-sizing: content-box;
}

.md-add-line {
  height: 78px;
}

.md-liner-avatar {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: content-box;
}


md-toolbar {
  position: fixed !important;
}

.md-toolbar-user {
  cursor: pointer;
}

.md-toolbar-avatar {
  margin-right: 15px;
  margin-left: 15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: content-box;
}

.md-post-card {
  padding-bottom: 0 !important;
}

.md-post {
  outline: none;
  -webkit-transition: background 400ms ease;
  transition:         background 400ms ease; 
}

.md-post:hover {
  background-color: $dark-grey;
}


.md-post-actions {
  margin: 0 !important;
}


.md-post-header {
  width: 100%;
  h3 {
    margin: 0 0 6px 0 !important;
    font-size: 16px;
  }
  p {
    margin: 0 !important;
  }
}

.md-post-owner {
  cursor: pointer;
}

.md-user-title {
  line-height: 1.75em !important; 
  text-align: right;
  margin-top: -10px;
}

.md-user-info {
  text-align: center;
  margin-top: 20px;
}

.md-user-joined {
  text-align: right;
  margin-right: 15px;
}

.md-comment-icon {
  top: 6px;
}

.md-star-icon {
  cursor: pointer;
  outline: none;
}

.time-ago {
  font-weight: 300;
  font-size: 16px;
  margin-right: 10px;
  float: right;
}

.placeholder {
  margin-left: 8px;
  width: 100px;
  height: 100px;
}

.md-right {
  float: right !important;
}

.md-whiteframe-9dp {
  -webkit-transition: box-shadow 400ms ease;
  transition:         box-shadow 400ms ease;
}