/* -------------------------------- 
Content
-------------------------------- */

$light-blue   : #55aeed;

.md-main-content {
  padding: 20px 40px 20px 40px;
}

.md-avatar {
  width: 64px;
  height: 64px;
  margin-top: -56px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
}

.md-poster-avatar {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-sizing: content-box;
}

.md-toolbar-user {
  cursor: pointer;
}

.md-toolbar-avatar {
  margin-right: 15px;
  margin-left: 15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: content-box;
}



.md-post-header {
  width: 100%;
  line-height: 0.1em !important;
  h3 {
    line-height: 1.25em !important;
    font-size: 16px;
  }
}

.md-post-owner {
  cursor: pointer;
}

.md-user-title {
  line-height: 1.75em !important; 
  text-align: right;
  margin-top: -10px;
}

.md-user-info {
  text-align: center;
  margin-top: 20px;
}

.md-user-info-item {
  margin-left: 15px;
  margin-right: 15px;
  h3 {
    line-height: 0.25px;
  }
  span {
    font-size: 12px;
  }
}

.md-user-joined {
  text-align: right;
  margin-right: 15px;
}

.md-comment-icon {
  top: 6px;
}


.time-ago {
  font-weight: 300;
  font-size: 16px;
  margin-right: 10px;
  float: right;
}