/* -------------------------------- 
Navbar
-------------------------------- */

$grey         : #607D8B;
$light-blue   : #55aeed;

$grey-palette : #e1eef6;
$red-palette  : #ff5f2e;
$yell-palette : #fcbe32;
$dark-grey    : #004e66;


md-toolbar {
/*  background: url(cover21.png) no-repeat;*/
  background-color: $dark-grey !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.md-toolbar-user {
  font-size: 20px;
  letter-spacing: 0.004em;
  box-sizing: border-box;
  font-weight: 400;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  float: left;
  width: 100%;
  height: 128px;
  max-height: 128px;
  padding: 10px 16px 0 22px;
  margin: 0;
}

.md-toolbar-user-avatar {
  margin-bottom: 18px;
}

.md-user-info-item {
  height: 44px !important;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 4px !important;
  h3 {
    line-height: 4px !important;
  }
  span {
    line-height: 4px !important;
    font-size: 12px;
  }
}

.md-toolbar-button {
  margin-right: 40px !important;
}

.md-toolbar-icon {
  margin-right: 10px;
  opacity: 0.87;
}

.center {
  text-align: center !important
}
