/* -------------------------------- 
Toolbar
-------------------------------- */

$grey         : #607D8B;
$light-blue   : #55aeed;

md-toolbar {
  background-color: $light-blue !important;
  color: white;
}